
* {
    box-sizing: border-box;
}
.all__content {
    max-width: 1350px;
    margin: 0 auto;
    background: url(../img/bg_main.png) repeat;
}
.content__beetwen {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*_________HEADER________*/

header {
    width: 100%;
}
header .header__top {
    width: 100%;
    background: url(../img/bg_dark.png) repeat;
}

header .header__top .header__top-logo {
    height: 100%;
    width: 50%;
    color: #5d5c5c;
    font-size: 10px;
}
header .header__top .header__top-logo a img {
    height: 100%;
    transition: transform .7s ease;
}
header .header__top .header__top-logo a img:hover {
    transform: scale(2);
}
header .header__top nav {
    text-align: right;
    width: 50%;
    line-height: 35px;
}
header .header__top nav li {
    display: inline-block;
    height: 35px;
    border-left: 1px solid #262626;
}
header .header__top nav li a {
    display: block;
    width: 100%;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #5d5c5c;
    transition: all .3s linear;
}
header .header__top nav li a:hover {
    color: #ffffff;
    background: #000000;
    color: #ffffff;
    font-size: 16px;
}
header .header__bottom {
    width: 100%;
    background: url(../img/bg_blue.png) repeat;
    line-height: 55px;
}
.header__bottom-etrance {
    width: 50%;
    position: relative;
}
.header__bottom-etrance img {
    position: absolute;
    top: 28px;
    left: 0;
}
header .header__bottom  a {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    align-content: center;
    text-decoration: none;
}
header .header__bottom a:first-child {
    margin-left: 45px;
}
header .header__bottom a:first-child::after {
    content: ' |';
}
header .header__bottom  a:hover{
    color: #000000;
}
header .header__bottom .search {
    width: 50%;
    position: relative;
    color: #ffffff;
    font-size: 14px;
}
header .header__bottom .search .big {
    position: absolute;
    top: 8px;
    left: 5px;
}
header .header__bottom .search .small {
    position: absolute;
    top: -15px;
    left: 370px;
}
header .header__bottom .search a{
    position: absolute;
    top: 22px;
    left: 250px;
    font-size: 10px;
}
header .header__bottom .search input[type=search]{
    width: 380px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    border-radius: 5px;
}


/*__________SLIDER________*/

.all__slider {
    width: 100%;
    position: relative;
}
.all__slider:after{
    content: '';
    display: block;
    width: 150px;
    height: 90px;
    background: url(../img/corner_slider_bottom.png) no-repeat center;
    position: absolute;
    left: 230px;
    bottom: -33px;
}
.all__slider .slider__top {
    width: 100%;
    height: 40px;
    background: url(../img/bg_white.png);
    font-size: 19px;
    font-weight: bold;
    color: #5d5c5c;
    line-height: 40px;
    padding-left: 280px;
    box-sizing: border-box;
}
.all__slider .slider__slider {
    position: relative;
    width: 100%;
    height: 290px;
    background: #c5c5c5;
    box-sizing: border-box;
    border-top: 2px solid #cecece;
    border-bottom: 2px solid #cecece;
    padding: 10px 0;
}
.all__slider .slider__slider img {
    width: 100%;
    height: 100%;
}
.all__slider .slider__slider .slider__slider-description {
    max-width: 310px;
    position: absolute;
    top: 20px;
    left: 810px;
    line-height: 1.5;
}
.all__slider .slider__slider .slider__slider-description:after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    background: url(../img/corner_slider_top.png) no-repeat center;
    position: absolute;
    bottom: 202px;
    left: 255px;
}
.all__slider .slider__slider .slider__slider-description:before {
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: url(../img/corner_slider_left.png) no-repeat center;
    position: absolute;
    top: 70px;
    left: -18px;
    z-index: 999;
}
.all__slider .slider__slider .slider__slider-description .slider__slider-description-text{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: #ffffff;
    font-size: 10px;
    padding-left: 5px;
    position: relative;
}
.all__slider .slider__slider .slider__slider-description .slider__slider-description-text h2{
    font-size: 14px;
}
.all__slider .slider__slider .slider__slider-description .slider__slider-description-text .slider__slider-description-text-stars{
    position: absolute;
    bottom: 60px;
    right: 40px;
    text-align: right;
}

.all__slider .slider__slider .slider__slider-description .slider__slider-description-text .description__calendar {
    margin: 10px;
}
.all__slider .slider__slider .slider__slider-description .slider__slider-description-text .description__calendar .description__calendar-number {
    font-size: 42px;
    color: #000000;
    background: #ffffff;
    padding: 5px 10px;
}

.all__slider .slider__slider .slider__slider-description .slider__slider-description-pictures{
    padding: 5px;
}
.all__slider .slider__slider .slider__slider-description .slider__slider-description-pictures img {
    display: inline-block;
    width: 95px;
    height: 45px;
    border: 1px solid #ffffff;
    transition: all 0.7s linear;
}
.all__slider .slider__slider .slider__slider-description .slider__slider-description-pictures img:hover {
    transform: scale(2);
}
/*Хочу уточнити чи правельна така форма назв класів? Бо якщо чесно виходять дуже великі, але чув що краще називати так, типу так називають по методиці БЕМ. Що використовується насправді в роботі? як краще?*/



/*_________ALL__POSTER_______*/


main{
    max-width: 1350px;
    background: url(../img/bg_white.png) repeat;
    text-align: center;
    padding-top: 30px;
    color: #202020;
    padding-bottom: 50px;
}
main span {
    font-weight: bold;
}
main .updates {
    position: relative;
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
}
main .updates::before {
    content: '';
    display: block;
    width: 60px;
    height: 180px;
    background: url(../img/renewal.png) no-repeat center;
    position: absolute;
    top: 70px;
    left: -60px;
}
main .updates .updates__poster {
    position: relative;
    width: 24%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
main .updates .updates__poster h3{
    display: block;
    height: 50px;
    font-size: 12px;
}
main .updates .updates__poster img {
    height: auto;
    max-width: 100%;
    border: 3px solid silver;
}
main .updates .updates__poster p {
    height: 100px;
    font-size: 11px;
    line-height: 1.5;
}
main .updates .updates__poster .watch__now {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: flex-end;
    
}
main .updates .updates__poster .watch__now a {
    text-decoration: none;
    color: #ffffff;
    background: #252525;
    padding: 5px 10px;
    border-radius: 5px;
   box-shadow: 10px 10px 30px 5px #B8B8B8;

}
main .updates .updates__poster .watch__now a:hover{
    color: #000000;
    background: #d01d1d;   
}
main .updates .updates__poster .updates__poster-stars {
    position: absolute;
    top: 75px;
    right: 5px;
    width: 125px;
    height: 17px;
    border: none;
}
main .updates .updates__poster .updates__poster-corner {
    position: absolute;
    width: 40px;
    height: 30px;
    bottom: 173px;
    left: 5px;
    border: none;
}
main .updates .menu__poster {
    margin-top: 65px;
    height: 340px;
    background: url(../img/bg_dark.png) repeat;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
}
main .updates .menu__poster .all__updates {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    
}
main .updates .menu__poster h2{
    margin-top: 10px;
    height: 50px;
    color: #ffffff;
    background: url(../img/icon_cinema.png) no-repeat center;
    text-align: right;
    padding: 15px 10px 0 0;
    font-size: 14px;
}
main .updates .menu__poster span {
    color: red;
}
main .updates .menu__poster .menu__poster-cinema {
    height: 90px;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    border-bottom: 1px solid #121212;
}
main .updates .menu__poster .menu__poster-cinema .cinema__img img {
    width: 60px;
    height: 60px;

}
main .updates .menu__poster .menu__poster-cinema .cinema__text {
    padding-left: 10px;
}
main .updates .menu__poster .menu__poster-cinema .cinema__text a {
    color: #ffffff;
    font-size: 12px;
}

/*_________PALAY__CINEMA_________*/



.about__cinema {
    margin: 20px 0;
    flex-basis: 25%;
    background: url(../img/bg_dark.png) repeat;
    text-align: left;
    color: #ffffff;
    font-size: 12px;
}
.about__cinema h5 {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border-bottom: 1px solid #141414;
    border-top: 1px solid #141414;
}
.about__cinema p {
    padding: 5px;
}
.about__cinema .cinema__other {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #141414;
    border-top: 1px solid #141414;
}
.about__cinema .cinema__other .other__items {
    flex-basis: 50%;
    padding: 5px;
}
.about__cinema .cinema__other .other__items h6 {
    font-size: 12px;
    font-weight: 700;
    
}

/*________CINEMA__PLAY_______*/


.cinema__play {
    max-width: 100%;
    position: relative;
    margin: 20px 0;
    flex-basis: 50%;
    padding: 5px;
}
.cinema__play::before {
    content: '9.5/10';
    display: block;
    width: 90px;
    height: 80px;
    background: url(../img/stars_play.png) no-repeat center;
    text-align: right;
    color: #c62a67;
    font-weight: bold;
    position: absolute;
    left: 350px;
}
.cinema__play table {
    max-width: 100%;
    padding: 20px;
    color: #000000;
    font-size: 11px;
    text-align: left;
    background: #ffffff;
    border-radius: 5px;
}
.cinema__play table td{
    padding: 10px;
}
.cinema__play .title__cinema__bold {
    font-weight: bold;
}
.cinema__play .big__title__cinema {
    font-size: 20px;
}
.cinema__play .cinema__play__player {
    max-width: 650px;
    position: relative;
    background: #ffffff;
    margin: 10px 0 20px 0;
    border-radius: 5px;
}
.cinema__play .cinema__play__player img {
    width: 100%;
    padding: 10px;
}

.cinema__play .cinema__play__player .btn_player {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10px;
    right: 10px;
}
.cinema__play .cinema__play__reviews {
    
}
.cinema__play .cinema__play__reviews .review__one {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.cinema__play .cinema__play__reviews .review__one .user__avatar {
    flex-basis: 70px;
    height: 70px;
}
.cinema__play .cinema__play__reviews .review__one .user__review {
    background: url(../img/bg_dark.png) repeat;
    flex-basis: 370px;
    height: 70px;
    color: #ffffff;
    font-size: 12px;
    text-align: left;
    padding: 10px 5px 5px 5px;
    border-radius: 5px;
}
.cinema__play .cinema__play__reviews .review__one .user__review .user__name__and__date {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #121212;
}
.cinema__play .cinema__play__reviews .review__two {
    margin: 15px 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.cinema__play .cinema__play__reviews .review__two .user__avatar {
    flex-basis: 70px;
    height: 70px;
}
.cinema__play .cinema__play__reviews .review__two .user__review {
    background: #ffffff;
    flex-basis: 300px;
    height: 70px;
    color: #000000;
    font-size: 12px;
    text-align: left;
    padding: 10px 5px 5px 5px;
    border-radius: 5px; 
}
.cinema__play .cinema__play__reviews .review__two .user__review .user__name__and__date {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #e4e4e4;
}
.cinema__play .cinema__play__reviews .write__review {
    width: 100%;
    height: 90px;
    background: #bbbbbb;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}
.cinema__play .cinema__play__reviews .write__review textarea {
    width: 100%;
    height: 50px;
}

.cinema__play .cinema__play__reviews a{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    background: #2033d0;
    padding: 5px 10px;
    border-radius: 5px;
}



/*__________ASIDE_______*/

aside {
    margin: 20px 0;
    flex-basis: 25%;
    background: url(../img/bg_dark.png) repeat;
    color: #ffffff;
}
.touching, .latest__comments, .queries {
    margin: 20px 0 10px 0;
}

aside h5 {
    background: url(../img/icon_cinema.png) no-repeat center;
    height: 30px;
}
aside table {
    width: 100%;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
    margin: 0 10px;
}
aside table .red__number {
    color: #f42158;
}
aside table .silver {
    color: #736d6d;
    font-size: 11px;
}
aside ul {
    color: #f42158;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
    padding: 5px;
}
aside ul li {
    font-size: 11px;
    color: #ffffff;
    font-weight: 100;
}

aside .random__film {
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    border-top: 3px solid #1d1d1d;
    color: #313131;
}
aside .random__film .name__film {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #ffffff;
    font-size: 10px;
    text-decoration: none;
    text-transform: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 20px;
}
aside .random__film a {
    text-decoration: none;
    text-transform:lowercase;
    font-size: 12px;
    color: #ffffff;
}


/*_________FOOTER________*/
footer {
    position: relative;
    background: url(../img/bg_dark.png) repeat;
    padding-top: 30px;
}
footer .corner__footer {
    position: absolute;
    top:-58px;
    right: 170px;
}
footer .link__footer{
    flex-basis: 11%;   
}
footer .link__footer ul {
    color: #736d6d;
    font-size: 14px;
    font-weight: bold;
}
footer .link__footer ul li a{
    color: #ffffff;
    font-size: 12px;
}
footer .link__footer ul li a:hover {
    color: #000000;
}



