* {
    box-sizing: border-box;
}
.all__content {
    max-width: 1350px;
    margin: 0 auto;
    background: url(../img/bg_main.png) repeat;
}
.content__beetwen {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header {
    width: 100%;
}
header .header__top {
    width: 100%;
    background: url(../img/bg_dark.png) repeat;
}

header .header__top .header__top-logo {
    height: 100%;
    width: 50%;
    color: #5d5c5c;
    font-size: 10px;
}
header .header__top .header__top-logo a img {
    height: 100%;
    transition: transform .7s ease;
}
header .header__top .header__top-logo a img:hover {
    transform: scale(2);
}
header .header__top nav {
    text-align: right;
    width: 50%;
    line-height: 35px;
}
header .header__top nav li {
    display: inline-block;
    height: 35px;
    border-left: 1px solid #262626;
}
header .header__top nav li a {
    display: block;
    width: 100%;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: #5d5c5c;
    transition: all .3s linear;
}
header .header__top nav li a:hover {
    color: #ffffff;
    background: #000000;
    color: #ffffff;
    font-size: 16px;
}


header .header__bottom {
    width: 100%;
    background: url(../img/bg_blue.png) repeat;
    line-height: 55px;
}
.header__bottom-etrance {
    width: 50%;
    position: relative;
}
.header__bottom-etrance img {
    position: absolute;
    top: 28px;
    left: 0;
}
header .header__bottom  a {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    align-content: center;
    text-decoration: none;
}
header .header__bottom a:first-child {
    margin-left: 45px;
}
header .header__bottom a:first-child::after {
    content: ' |';
}
header .header__bottom  a:hover{
    color: #000000;
}
header .header__bottom .search {
    width: 50%;
    position: relative;
    color: #ffffff;
    font-size: 14px;
}
header .header__bottom .search .big {
    position: absolute;
    top: 8px;
    left: 5px;
}
header .header__bottom .search .small {
    position: absolute;
    top: -15px;
    left: 370px;
}
header .header__bottom .search a{
    position: absolute;
    top: 22px;
    left: 250px;
    font-size: 10px;
}
header .header__bottom .search input[type=search]{
    width: 380px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    border-radius: 5px;
}


/*__________SLIDER________*/

.all__slider {
    width: 100%;
}
.all__slider .slider__top {
    width: 100%;
    height: 40px;
    background: url(../img/bg_white.png);
    font-size: 19px;
    font-weight: bold;
    color: #5d5c5c;
    line-height: 40px;
    padding-left: 280px;
    box-sizing: border-box;
}
.all__slider .slider__slider {
    position: relative;
    width: 100%;
    height: 290px;
    background: #c5c5c5;
    box-sizing: border-box;
    border-top: 1px solid #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
    padding: 10px 0;
}
.all__slider .slider__slider img {
    width: 100%;
    height: 100%;
}
.all__slider .slider__slider .slider__slider-description {
    width: 310px;
    position: absolute;
    top: 20px;
    left: 810px;
    line-height: 1.5;
}
.all__slider .slider__slider .slider__slider-description .slider__slider-description-text{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: #ffffff;
    font-size: 10px;
    padding-left: 5px;
    position: relative;
}
.all__slider .slider__slider .slider__slider-description .slider__slider-description-text h2{
    font-size: 14px;
}
.all__slider .slider__slider .slider__slider-description .slider__slider-description-text .slider__slider-description-text-stars{
    position: absolute;
    bottom: 60px;
    right: 40px;
    text-align: right;
}

.all__slider .slider__slider .slider__slider-description .slider__slider-description-text .description__calendar {
    margin: 10px;
}
.all__slider .slider__slider .slider__slider-description .slider__slider-description-text .description__calendar .description__calendar-number {
    font-size: 42px;
    color: #000000;
    background: #ffffff;
    padding: 5px 10px;
}

.all__slider .slider__slider .slider__slider-description .slider__slider-description-pictures{
    padding: 5px;
}
.all__slider .slider__slider .slider__slider-description .slider__slider-description-pictures img {
    display: inline-block;
    width: 95px;
    height: 45px;
    
    border: 1px solid #ffffff;
}


/*_________ALL__POSTER_______*/

main{
    width: 100%;
    background: url(../img/bg_white.png) repeat;
    text-align: center;
    padding-top: 30px;
    color: #202020;
    padding-bottom: 50px;
}
main span {
    font-weight: bold;
}
main .updates {
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex-wrap: wrap;
}
main .updates .updates__poster {
    position: relative;
    width: 24%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
main .updates .updates__poster h3{
    display: block;
    height: 50px;
    font-size: 12px;
}
main .updates .updates__poster img {
    height: 150px;
    width: 100%;
    border: 3px solid silver;
}
main .updates .updates__poster p {
    height: 100px;
    font-size: 11px;
    line-height: 1.5;
}
main .updates .updates__poster .watch__now {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: flex-end;
    
}
main .updates .updates__poster .watch__now a {
    text-decoration: none;
    color: #ffffff;
    background: #252525;
    padding: 5px 10px;
    border-radius: 5px;
}
main .updates .updates__poster .watch__now a:hover{
    color: #000000;
    background: #d01d1d;   
}
main .updates .updates__poster .updates__poster-stars {
    position: absolute;
    top: 75px;
    right: 5px;
    width: 125px;
    height: 17px;
    border: none;
}
main .updates .menu__poster {
    margin-top: 65px;
    height: 340px;
    background: url(../img/bg_dark.png) repeat;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    text-shadow: none;
}
main .updates .menu__poster .all__updates {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    
}
main .updates .menu__poster h2{
    margin-top: 10px;
    color: #ffffff;
    background: #000000;
    text-align: right;
    padding: 5px 10px 5px 0;
    font-size: 14px;
}
main .updates .menu__poster span {
    color: red;
}
main .updates .menu__poster .menu__poster-cinema {
    height: 90px;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    border-bottom: 1px solid #020202;
}
main .updates .menu__poster .menu__poster-cinema .cinema__img img {
    width: 60px;
    height: 60px;

}
main .updates .menu__poster .menu__poster-cinema .cinema__text {
    padding-left: 10px;
}
main .updates .menu__poster .menu__poster-cinema .cinema__text a {
    color: #ffffff;
    font-size: 12px;
}

/*?________PALAY__CINEMA_________*/


.play {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.play .about__cinema {
    flex-basis: 25%;
    background: url(../img/bg_dark.png) repeat;
    text-align: left;
    color: #ffffff;
    font-size: 12px;
}
.play .about__cinema h5 {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border-bottom: 1px solid #141414;
    border-top: 1px solid #141414;
}
.play .about__cinema p {
    padding: 5px;
}
.play .about__cinema .cinema__other {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #141414;
    border-top: 1px solid #141414;
}
.play .about__cinema .cinema__other .other__items {
    flex-basis: 50%;
    padding: 5px;
}
.play .about__cinema .cinema__other .other__items h6 {
    font-size: 12px;
    font-weight: 700;
    
}


.play .cinema__play {
    flex-basis: 50%;
    padding: 5px;
}
.play .cinema__play table {
    padding: 20px;
    color: #000000;
    font-size: 11px;
    text-align: left;
    background: #ffffff;
    border-radius: 5px;
}
.play .cinema__play table td{
    padding: 10px;
}
.play .cinema__play .title__cinema__bold {
    font-weight: bold;
}
.play .cinema__play .big__title__cinema {
    font-size: 20px;
}
.play .cinema__play .cinema__play__player {
    position: relative;
    background: #ffffff;
    margin: 10px 0 20px 0;
    border-radius: 5px;
}
.play .cinema__play .cinema__play__player img {
    width: 100%;
    height: auto;
    padding: 10px;
}
.play .cinema__play .cinema__play__player .btn_player {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 10px;
    right: 10px;
}
.play .cinema__play .cinema__play__reviews {
    text-align: left;
    background: red;
}
.play .cinema__play .cinema__play__reviews .review {

}

.play .cinema__play .cinema__play__reviews .reviews textarea {

}

.play aside {
    flex-basis: 25%;
    border: 1px solid red;
    background: url(../img/bg_dark.png) repeat;
}

.play aside {
    color: #ffffff;
}
.play aside h5 {
    background: url(../img/icon_cinema.png) no-repeat center;
}
.play aside table {
    width: 100%;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
}
.play aside table .red__number {
    color: red;
}
.play aside table .silver {
    color: #736d6d;
    font-size: 11px;
}
.play aside ul {
    color: #f42158;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
}
.play aside ul li {
    font-size: 11px;
    color: #ffffff;
    font-weight: 100;
}


/*_________FOOTER________*/

footer {
    position: relative;
    background: url(../img/bg_dark.png) repeat;
    padding-top: 30px;
}
footer .corner__footer {
    position: absolute;
    top:-58px;
    right: 170px;
}
footer .link__footer ul {
    color: #736d6d;
    font-size: 14px;
    font-weight: bold;
}
footer .link__footer ul li a{
    color: #ffffff;
    font-size: 12px;
}
footer .link__footer ul li a:hover {
    color: #000000;
}













@media screen and (max-width:1150px) {
    .all__slider .slider__slider .slider__slider-description {
        left: 100px; 
    }
}
@media screen and (max-width:1075px) {
    header .header__top .header__top-logo, header .header__top nav, .header__bottom-etrance, header .header__bottom .search {
        width: 100%;
    }
    header .header__top nav{
        text-align: center;
    }
    main .updates  {
        margin: 0 50px;
        width: 50%;
    }
    main .updates .updates__poster {
        width: 50%;
    }
}
@media screen and (max-width:800px) {
    header .header__top nav{
        text-align: left;
    }
    main .updates .updates__poster {
        width: 50%;
    }
    .play .about__cinema, .play .cinema__play, .play aside {
        flex-basis: 100%;
    }
}
  
